# Exploration

In [10]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Merging the two datasets base on their Account ID

In [12]:
import pandas as pd

def merge_datasets(dataset1_path, dataset2_path, merge_column):
    # Load the datasets
    df1 = pd.read_csv(dataset1_path)
    df2 = pd.read_csv(dataset2_path)
    
    # Merge the datasets based on the specified column
    merged_df = pd.merge(df1, df2, on=merge_column, how='inner')
    
    return merged_df

# Example usage:
dataset1_path = "../data/orders_data_competition.csv"
dataset2_path = "../data/clients_data_competition.csv"
merge_column = "Account ID"

df = merge_datasets(dataset1_path, dataset2_path, merge_column)
df.sample(10)

,Order ID,Account ID,Market Key,Security ID,Order Type,Order Time,Order Via,Is Completed,Is Canceled,Expire Date,...,Gender,Risk Rate,Company Name,Is Closed,Is Dormant,Is Profile Suspended,Is Client Suspended,Client Type Name,OpenDate,BirthDate
1430230,1430230,5213,Egypt,21,Buy,2023-09-20 10:05:33.000,Online,1,0,2023-09-20 00:00:00.000,...,Male,Low,HSB,0,0.0,0,0,Individuals,4/6/2011,1945-08-22
1403345,1403345,10159,Egypt,24,Buy,2023-09-07 14:13:44.000,Online,0,0,2023-09-07 00:00:00.000,...,Male,Low,HSB,0,0.0,0,0,Individuals,12/3/2006,1990-04-28
874940,874940,8949,Egypt,125,Buy,2023-01-16 11:06:23.000,Online,1,0,2023-01-16 00:00:00.000,...,Female,Low,HSB,0,0.0,0,0,Individuals,9/30/2015,1964-04-21
984221,984221,12783,Egypt,9,Buy,2023-02-28 10:17:30.000,Online,1,0,2023-02-28 00:00:00.000,...,Male,Low,HSB,0,0.0,0,0,Individuals,1/25/2021,1962-09-02
682042,682042,320,Egypt,162,Buy,2022-11-02 13:26:10.000,Online,0,0,2022-11-02 00:00:00.000,...,Male,Low,HSB,0,0.0,0,0,Individuals,6/11/2019,1979-07-05
1417056,1417056,10068,Egypt,4,Sell,2023-09-14 11:25:01.000,Online,1,0,2023-09-14 00:00:00.000,...,Male,Low,HSB,0,0.0,0,0,Individuals,11/21/2006,1964-03-18
1402693,1402693,569,Egypt,114,Sell,2023-09-07 13:22:51.000,Online,0,1,2023-09-07 00:00:00.000,...,Male,Not Assigned,HSB,0,0.0,0,0,Individuals,7/20/2022,1972-01-17
519048,519048,10270,Egypt,152,Buy,2022-08-16 10:20:46.000,Telephone,1,0,2022-08-16 00:00:00.000,...,Female,Low,HSB,0,0.0,0,0,Individuals,3/21/2022,1959-02-25
65777,65777,9954,Egypt,103,Sell,2024-02-19 12:01:44.000,Online,0,0,2024-02-19 00:00:00.000,...,Male,Low,HSB,0,0.0,0,0,Individuals,9/24/2006,1954-07-02
1623190,1623190,4110,Egypt,136,Buy,2023-11-16 13:40:57.000,Online,0,1,2023-11-16 00:00:00.000,...,Female,Not Assigned,HSB,0,0.0,0,0,Individuals,9/20/2023,1973-01-11

In [14]:
df.columns

Index(['Order ID', 'Account ID', 'Market Key', 'Security ID', 'Order Type',
       'Order Time', 'Order Via', 'Is Completed', 'Is Canceled', 'Expire Date',
       'Execution Status', 'quantity', 'Price', 'Sector Name',
       'Executed Quantity', 'Quantity', 'Client ID', 'Gender', 'Risk Rate',
       'Company Name', 'Is Closed', 'Is Dormant', 'Is Profile Suspended',
       'Is Client Suspended', 'Client Type Name', 'OpenDate', 'BirthDate'],
      dtype='object')

In [13]:
# Summary statistics
print("\nSummary statistics of the dataset:")
df.describe()

Summary statistics of the dataset:

,Order ID,Account ID,Security ID,Is Completed,Is Canceled,quantity,Price,Executed Quantity,Quantity,Client ID,Is Closed,Is Dormant,Is Profile Suspended,Is Client Suspended
count,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06,1.987943e+06
mean,9.939710e+05,6.783902e+03,6.644567e+01,5.533182e-01,1.973869e-01,2.756233e+04,1.863010e+01,1.450370e+04,2.756233e+04,4.290830e+03,2.039294e-03,-1.764336e-02,2.684634e-02,1.271163e-03
std,5.738699e+05,3.920392e+03,5.097927e+01,4.971492e-01,3.980269e-01,3.815692e+05,1.101077e+02,1.147065e+05,3.815692e+05,2.569580e+03,4.511248e-02,1.316514e-01,1.616342e-01,3.563072e-02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e-03,-1.000000e+02,1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00
25%,4.969855e+05,3.084000e+03,2.300000e+01,0.000000e+00,0.000000e+00,7.000000e+02,1.900000e+00,0.000000e+00,7.000000e+02,1.979000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.939710e+05,7.238000e+03,5.500000e+01,1.000000e+00,0.000000e+00,2.600000e+03,5.690000e+00,2.000000e+02,2.600000e+03,4.146000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.490956e+06,1.017900e+04,9.700000e+01,1.000000e+00,0.000000e+00,1.000000e+04,1.685000e+01,4.000000e+03,1.000000e+04,6.570000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.987942e+06,1.352100e+04,3.370000e+02,1.000000e+00,1.000000e+00,4.000000e+08,8.246300e+04,3.000000e+07,4.000000e+08,9.122000e+03,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00

In [5]:
# Check for missing values
print("\nMissing values in the dataset:")
df.isnull().sum()

Missing values in the dataset:

Order ID             0
Account ID           0
Market Key           0
Security ID          0
Order Type           0
Order Time           0
Order Via            0
Is Completed         0
Is Canceled          0
Expire Date          6
Execution Status     1
quantity             0
Price                0
Sector Name          0
Executed Quantity    0
Quantity             0
dtype: int64

In [24]:
df.nunique()

Order ID                1987936
Account ID                 9727
Market Key                    1
Security ID                 335
Order Type                    2
Order Time              1749453
Order Via                     4
Is Completed                  2
Is Canceled                   2
Expire Date                 828
Execution Status              3
quantity                  32994
Price                     20033
Sector Name                  23
Executed Quantity         28705
Quantity                  32994
Client ID                  8751
Gender                        2
Risk Rate                     4
Company Name                  1
Is Closed                     2
Is Dormant                    2
Is Profile Suspended          2
Is Client Suspended           2
Client Type Name              2
OpenDate                   3260
BirthDate                  7631
dtype: int64

Since there is not too many null values, we can drop them

In [18]:
def drop_null_rows(df):
    # Drop rows with null values
    df.dropna(inplace=True)
    return df

# Example usage:
# Assuming df is your DataFrame
df = drop_null_rows(df)

In [22]:
def convert_data_types(df):
    # Define data types dictionary
    data_types = {
        'Order ID': int,
        'Account ID': int,
        'Market Key': str,
        'Security ID': int,
        'Order Type': str,
        'Order Time': pd.Timestamp,
        'Order Via': str,
        'Is Completed': bool,
        'Is Canceled': bool,
        'Expire Date': pd.Timestamp,
        'Execution Status': str,
        'quantity': int,
        'Price': float,
        'Sector Name': str,
        'Executed Quantity': int,
        'Quantity': int,
        'Client ID': int,
        'Gender': str,  # Convert to boolean
        'Risk Rate': float,
        'Company Name': str,
        'Is Closed': bool,
        'Is Dormant': bool,
        'Is Profile Suspended': bool,
        'Is Client Suspended': bool,
        'Client Type Name': str,
        'OpenDate': pd.Timestamp,
        'BirthDate': pd.Timestamp
    }
    
    # Convert each column to its supposed data type
    for col, data_type in data_types.items():
        df[col] = df[col].astype(data_type)
    
    return df

# Example usage:
# Assuming df is your DataFrame
df = convert_data_types(df)

TypeError: dtype '<class 'pandas._libs.tslibs.timestamps.Timestamp'>' not understood

In [6]:
# Data visualization
# Histogram of a numerical variable
plt.figure(figsize=(10, 6))
sns.histplot(df['numerical_column'], bins=20, kde=True)
plt.title('Histogram of Numerical Column')
plt.xlabel('Numerical Column')
plt.ylabel('Frequency')
plt.show()

KeyError: 'numerical_column'

In [ ]:
# Boxplot of a numerical variable
plt.figure(figsize=(10, 6))
sns.boxplot(data=df, y='numerical_column')
plt.title('Boxplot of Numerical Column')
plt.ylabel('Numerical Column')
plt.show()

In [7]:
# Correlation heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()

ValueError: could not convert string to float: 'Egypt'